<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/editor.css">
</head>
<body>
<div id="editor"></div>
<code id="code" hidden>Please enter the password first.</code>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" src="/resources/plugins/aes/aes.js"></script>
<script src="/resources/plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>

var generateMD5 = function(text) {
    return CryptoJS.MD5(text).toString();
};
var generateVerificationToken = function(text, password) {
    return generateMD5(text + generateMD5(password).toString()).toString();
};
var encrypt = function(text, password) {
    var iv = CryptoJS.lib.WordArray.random(16);
    var encrypted = CryptoJS.AES.encrypt(text, CryptoJS.enc.Utf8.parse(generateMD5(password)), {iv: iv});
    return iv.concat(encrypted.ciphertext).toString(CryptoJS.enc.Base64);
}
var decrypt = function(encryptedText, password) {
    try {
        var ciphertext = CryptoJS.enc.Base64.parse(encryptedText);
        var iv = ciphertext.clone();
        iv.sigBytes = 16;
        iv.clamp();
        ciphertext.words.splice(0, 4);
        ciphertext.sigBytes -= 16;
        var decrypted = CryptoJS.AES.decrypt({ciphertext: ciphertext}, CryptoJS.enc.Utf8.parse(generateMD5(password)), {iv: iv});
        var decryptedText = decrypted.toString(CryptoJS.enc.Utf8);

        if (!decryptedText) {
            return {success: false};
        }
        
        return {success: true, text: decryptedText, verificationToken: generateVerificationToken(decryptedText, password)};
    }
    catch (e) {
        return {success: false};
    }
};

    {% if post.passwordProtected %}
        Swal.fire({
            title: "Enter the Password",
            input: "password",
            inputAttributes: {
                autocapitalize: "off"
            },
            showCancelButton: false,
            confirmButtonText: "Decrypt",
            showLoaderOnConfirm: true,
            preConfirm: (password) => {
                response = decrypt("{{ post.text }}", password);
                if (!response.success) {
                    Swal.showValidationMessage("Invalid Password Entered.");
                }
                else {
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("POST", "{{ config.website }}p/{{ post.urlId }}", true);
                    xhttp.send(JSON.stringify({verificationToken: response["verificationToken"]}));
                    return response;
                }
            },
            allowOutsideClick: () => false
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    "Text decrypted successfully!",
                    "",
                    "success"
                );

                document.getElementById("code").innerHTML = result.value.text;
                document.getElementById("editor").innerHTML = result.value.text;
                var editor = ace.edit("editor");
                editor.setOptions({
                    fontSize: "15pt",
                    readOnly: true,
                    highlightActiveLine: false,
                    highlightGutterLine: false
                });
                editor.renderer.$cursorLayer.element.style.opacity = 0;
                {% if post.syntaxHighlighting != "plain" %}
                    editor.setTheme("ace/theme/monokai");
                    {% if post.syntaxHighlighting != "code" %}
                        editor.session.setMode("ace/mode/{{ post.syntaxHighlighting }}");
                    {% endif %}
                {% endif %}
            }
        });
    {% else %}
        document.getElementById("code").innerHTML = `{{ post.text }}`;
        document.getElementById("editor").innerHTML = `{{ post.text }}`;
        var editor = ace.edit("editor");
        editor.setOptions({
            fontSize: "15pt",
            readOnly: true,
            highlightActiveLine: false,
            highlightGutterLine: false
        });
        editor.renderer.$cursorLayer.element.style.opacity = 0;
        {% if post.syntaxHighlighting != "plain" %}
            editor.setTheme("ace/theme/monokai");
            {% if post.syntaxHighlighting != "code" %}
                editor.session.setMode("ace/mode/{{ post.syntaxHighlighting }}");
            {% endif %}
        {% endif %}
    {% endif %}
</script>
</body>
</html>