<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/editor.css">
</head>
<body>
<div id="editor"></div>
<script src="/resources/plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    document.getElementById("editor").innerHTML = `{{ post.text }}`;
    var editor = ace.edit("editor");
    editor.setOptions({
        fontSize: "20pt",
        readOnly: true,
        highlightActiveLine: false,
        highlightGutterLine: false
    })
    editor.renderer.$cursorLayer.element.style.opacity = 0;
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
    {% if post.syntaxHighlighting != "plain" %}
        editor.setTheme("ace/theme/monokai");
        {% if post.syntaxHighlighting != "code" %}
            editor.session.setMode("ace/mode/{{ post.syntaxHighlighting }}");
        {% endif %}
    {% endif %}
</script>
</body>
</html>