<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ config["name"] }} - Share Code Snippets & Texts securely</title>

    <link rel="icon" type="image/svg" href="/resources/img/logo.png">
    <link rel="shortcut icon" type="image/svg" href="/resources/img/logo.png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="resources/css/index.css">
    <link rel="stylesheet" type="text/css" href="resources/plugins/bootstrap-4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="/">
            <img class="img-fluid navbar-logo" src="resources/img/logo-text2.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/">
            <button class="btn btn-primary btn-lg text-right text-uppercase font-weight-bold" id="newPostButton">
                <i class="fal fa-file-plus"></i>
                New
            </button>
        </a>
      </div>
    </nav>

    <section class="container">
        <div class="card" style="margin-top:1rem;" id="createPost">
            <h3 class="card-header text-white" id="create-post-header">Create a Post</h3>

            <div class="card-body">
                <div class="form-group">
                    <textarea class="card-body form-control" rows="10" id="text" placeholder="Paste your Text here" style="border: 1.5px solid #a2a4a6"></textarea>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="password">Encrypt with Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password (optional)" style="border: 1.5px solid #a2a4a6">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="syntax-highlighting">Syntax Highlighting</label>
                    <select class="form-control" name="syntax-highlighting" id="syntax-highlighting" style="border: 1.5px solid #a2a4a6">
                        <option value="code">Source Code</option>
                        <option value="plain">Plain Text</option>
                        <optgroup label="Programming Languages" id="programming-languages-opt">
                        </optgroup>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-light font-weight-bold" data-toggle="collapse" data-target="#advancedFeatures" aria-expanded="false" aria-controls="advancedFeatures" style="font-size: 120%">
                        <i class="fas fa-caret-right" id="collapseIcon"></i>
                        Advanced Features
                    </button>
                </div>

                <div class="collapse" id="advancedFeatures">
                    <div class="form-group">
                        <label class="font-weight-bold" for="delete-after-views">Delete after certain views</label>
                        <input class="form-control" type="number" name="delete-after-views" id="delete-after-views" placeholder="Number of views (optional)" style="border: 1.5px solid #a2a4a6">
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold" for="delete-after-time">Expires after certain time</label>
                        <select class="form-control" name="delete-after-time" id="delete-after-time" style="border: 1.5px solid #a2a4a6">
                            <option value="never">Never</option>
                            <option value="5m">5 minutes</option>
                            <option value="10m">10 minutes</option>
                            <option value="60m">1 Hour</option>
                            <option value="1440m">1 Day</option>
                            <option value="10080m">7 Days</option>
                            <option value="43200m">30 Days</option>
                        </select>
                    </div>

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="hideTimeOfCreation">
                        <label class="form-check-label font-weight-bold" for="hideTimeOfCreation">
                        Hide time of creation
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hideNumberOfViews">
                        <label class="form-check-label font-weight-bold" for="hideNumberOfViews">
                        Hide number of views
                        </label>
                    </div>
                    <br>
                </div>
                
                <button class="btn btn-primary btn-block">
                    Create
                </button>
            </div>
        </div>

        <div class="card" style="margin-top:2rem;" id="postCreated" hidden>
            
        </div>
        <br><br><br>
    </section>

    <script type="text/javascript" src="resources/plugins/jquery-3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="resources/plugins/bootstrap-4.5.3/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="resources/plugins/ace/ace.js"></script>

    <script type="text/javascript" src="resources/plugins/aes/aes.js"></script>
    <script type="text/javascript" src="resources/js/index.js"></script>
</body>
</html>